/* Селектор для всех абзацев внутри div */
div p {
    color: blue; /* Цвет текста для абзацев внутри div */
 }
 
 /* Селектор для всех заголовков h2 внутри div */
 div h2 {
    color: green; /* Цвет текста для заголовков h1 внутри div */
 }
 
 /* Селектор для всех абзацев из элемента с id block */
 #block p {
    color: red; /* Цвет текста для абзацев из блока */
 }
 
 /* Селектор для всех заголовков h1 из элемента с id block */
 #block h1 {
    color: purple; /* Цвет текста для заголовков h1 из блока */
 }
 
 /* Селектор для всех элементов с классом bbb */
 .bbb {
    background-color: rgb(93, 150, 204); /* Фоновый цвет для элементов класса bbb */
 }
 
 /* Селектор для всех элементов класса bbb из элемента с id block */
 #block .bbb {
    background-color: rgb(255, 180, 249); /* Фоновый цвет для элементов класса bbb в блоке */
 }
 
 /* Селектор для всех абзацев p с классом bbb */
 .bbb {
    font-weight: bold; /* Жирный шрифт для элементов класса bbb */
 }
 
 /* Селектор для всех заголовков h1 с классом bbb */
 .bbb {
    font-style: italic; /* Курсивный шрифт для элементов класса bbb */
 }
 
 /* Селектор для всех элементов класса fff */
 .fff {
    border: 1px solid black; /* Обводка для элементов класса fff */
 }
 
 /* Селектор для всех абзацев p из элемента класса fff */
 .fff p {
    text-decoration: underline; /* Подчеркивание текста в абзацах класса fff */
 }
 
 /* Селектор для всех абзацев p с классом fff */
 .fff .fff {
    text-transform: uppercase; /* Заглавные буквы в абзацах класса fff */
 }
 
 /* Селектор для всех элементов класса bbb из элемента класса fff */
 .fff .bbb {
    background-color: lightgreen; /* Фоновый цвет для элементов класса bbb в классе fff */
 }
 
 /* Селектор для всех заголовков h1 с классом bbb из элемента класса fff */
 .fff .bbb {
    text-align: center; /* Центрирование текста в заголовках класса bbb в классе fff */
 }

 /* Селектор для всех элементов класса bbb из элемента класса fff */
.fff .bbb {
	color: rgb(255, 0, 212); /* Цвет текста для элементов класса bbb внутри класса fff */
}

/* Селектор для всех заголовков h1 класса bbb из элемента класса fff */
.fff .bbb {
	color: rgb(241, 255, 117); /* Цвет текста для заголовков класса bbb внутри класса fff */
}